@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

body
{
    font-family: "Playwrite", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 70em;
    background-image: url("../images/back6.png");
    background-size: 90%
}
