@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,300&display=swap');

body {

  background-color: #041821;
  color: #fff;
}

main nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

header p {
  font-size: 1.5em;
}

main h2 {
  font-family: 'Yeseva One', cursive;
}

header {
  font-family: 'Yeseva One', cursive;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
  background-color: #041821;
  color: #fff;
  border-bottom: 1em solid;
  border-width: 0.05em;
}

main {
  width: 90%;
  margin: auto;
  padding-top: 3em;
  font-family: 'Montserrat', sans-serif;
}

header nav i {
  margin: 1em 0.5em;
}

header nav a {
  color: #fff;
}

.gallery {
  margin: 40px auto;
  max-width: 1200px;
}

.photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.4em;
}

.photo img {
  width: 100%;
  object-fit: cover;
}

button {
  border: none;
  letter-spacing: 0.25em;
  font-weight: lighter;
  font-size: 0.5em;
  padding: 0.5em;
  background: none;
  color: #fff;
}

.photo img:nth-child(n + 10) {
  display: 10;
}

footer {
  text-align: center;
  margin-top: 4em;
  color:#fff;
  font-weight: 100;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}


@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }

  main {
    width: 80%;
    margin: auto;
  }

  main h2 {
    font-size: 3em;
  }

  main nav {
    justify-content: center;
    gap: 1em;
  }

  main nav button {
    font-size: 0.75em;
  }

  .grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid img:nth-child(n + 10) {
    display: block;
  }

  main p {
    width: 80%;
  }
}
/* Format ordinateur */
@media screen and (min-width: 1024px) {

  main h2,
  main p {
    width: 60%;
  }

  main nav button {
    font-size: 1em;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
